a {
    color: blue;
    background: aliceblue;
    border: ridge;
    border-radius:  5px;
    text-decoration: none;
    padding: 10px;
}

.main-body {
    display: flex;
    flex-direction: column;
}